body {
    background-color: black;
}

main {
    display: block;
    margin: auto;
}

canvas {
    background-color: white;
    display:block;
    margin:auto;
    -ms-interpolation-mode: nearest-neighbor; 
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;         
    image-rendering: -o-crisp-edges;           
    image-rendering: pixelated;
}

#buttons {
    width: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

/* mirror image
#mortRed {
    transform: scaleX(-1);
} 
*/
